body{
  margin: 0;
}

a{
  color: inherit;
}

/*.container-div{
  display: flex;
  background-color: #ffe6e6;
  width: 60%;
  height: auto;
  margin: 0 auto;
}*/

/*.left-col{
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 10px;
  color: #FEE4D2;
  background-color: #484D60;
  text-align: center;
}

.right-col{
  flex-direction: column;
  flex-grow: 2;
  margin: 0;
  padding: 10px;
}

.picture{
  width: 80%;
  margin: 10px auto;
}

.header-box{
  margin: 10px;
  color: #484D60;
  background-color: #FDFEF9;
  text-align: left;
  padding: 10px;
}

.header-box-contact{
  color: #484D60;
  background-color: #FEE4D2;
}

.header-caption{
  margin: 0;
}

.info-box{
  padding: 10px;
  text-align: left;
}

.info-labels{
  font-size: 1.1em;
}

@media (max-width: 1000px) {
  .container-div{
    width: 80%;
  }
}

@media (max-width: 750px) {
  .container-div{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container-div{
    width: 100%;
    flex-direction: column;
  }

  .left-col{
    width: 100%;
  }

  .right-col{
    width: 100%;
  }

  .header-box{
    margin-right: 20px;
  }
}*/
